<div class="py-5 bg-blue">
  <!-- Navbar Brand-->
  <a class="" href="#"><img class="imag mx-5 border-box p-2 bg-white rounded" src="assets/img/logo.svg" alt=""></a>
</div>

<div class="container-fluid px-4 text-center">
  <h1 class="my-4">Desenvolvimento de Soluções</h1>
  <div class="row">
    <div class="d-flex justify-content-center">
      <div class="">
        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="loadInsights()">Insights</button>
      </div>
    </div>
  </div>
</div>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Entrada</th>
      <th>DataHora</th>
      <th>Valor</th>
      <th>Histórico</th>
      <th>Saldo Anterior</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let empresa of empresas">
      <td>{{ empresa.entrada == '1' ? 'Ganho' : 'Perda' }}</td>
      <td>{{ empresa.dataHora | date:'dd/MM/yyyy HH:mm:ss' }}</td>
      <td>{{ empresa.valor | currency:'BRL':'symbol':'1.2-2' }}</td>
      <td>{{ empresa.historico }}</td>
      <td>{{ empresa.saldoAnterior | currency:'BRL':'symbol':'1.2-2' }}</td>
    </tr>
  </tbody>
</table>

<footer class="py-4 bg-blueclaro mt-auto container-fluid px-4">
  <div class="">
    <div class="d-flex md-flex-direction">
      <div>
        <h1 class="text-white">A Giom</h1>
        <p class="text-white">Empresa focada no desenvolvimento de soluções web, mobile e integrações entre sistemas. Possuímos anos de
          experiência em soluções personalizadas, e hoje contamos com uma equipe qualificada para atender a necessidade da sua empresa. Entre em contato para saber como podemos lhe ajudar.</p>
      </div>
    </div>
    <div class="small">
      <div class="text-center text-white">2024 — Giom tecnologia</div>
    </div>
  </div>
</footer>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Desempenho</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {{ insights }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
